@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

body {
    background-color: #37474F;
    font-family: 'Creepster';
}
h2 {
    color: orange;
}

#game-timer, #timer-stop, #game-score {
    width: 100px;
    text-align: center;
}
#control-panel {
    /* vertical-align: bottom; */
    margin-top: 40px;
}
#outer-board {
    background-color: #644B77;
    height: 635px;
    position: relative;
    margin-right: 120px;
}
#game-menu{
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
}
#inner-board, #about-page {
    background-color: #FACD63;
}
#game-board {
    padding-bottom: 0px;
}
#cover-menu {
    margin-top: 20%;
}
#timer-stop, #return-from-about {
    cursor: pointer;
}
#return-from-about {
    margin-left: 30%;
    margin-top: 50px;
}
#score-display {
    width: 550px;
    margin: auto;
    background-color: #FACD63;
}
#return-option:hover {
    cursor: pointer;
}

.menu-button {
    margin-left: 20% !important;
    font-size: 35px;
    padding: 15px; 
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: orange;
}
.top-block-100 {
    margin-top: 100px;
}

.top-block-20 {
    margin-top: 20px;
}

/* 
#outer-board {
    height: 200px;
} */


.game-card {
    height: 80px;
    width: 80px;
    /* background-color: #FD990D !important; */
    background-color: #F08D01 !important;
}
.fade-out {
    height: 0;
}
.fade-out {
    transition: height 1s;
}
.control-panel-item, .score-display-card {
    font-size: 40px;
    margin-top: -15px;
    background-color: #3DA641;
    color: black;
    display: inline-block !important;
}
.score-display-card {
    padding: 10px;
}
.card-back {
    margin-top: 20px;
    height: 75px;
    width: 45px;
}
.card-face {
    margin-top: 20px;
    height: 45px;
    width: 45px;
}
.material-icons {
    height: 75px;
    width: 45px;
}
.image-small {
    height: 45px;
    width: 45px;
}
.timer-image {
    height: 35px;
    width: 35px;
}
.slide {
    overflow-y: hidden;
    max-height: 600px;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1, 1, 1, 1)
}
.slide.closed{
    max-height: 0;
}
.options {
    left: 50;
}

.hidden {
    display: none;
}

.about-text {
    font-size: 24px;
}